<html>
    {{>header}}
    <link rel="stylesheet" href="/css/category.css">
    <body>
        {{>nav}}
        <h2 class="text-center" style="margin-top:50px;margin-bottom:50px"><strong>{{catName}}</strong></h2>
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                {{{pagination}}}
                <div class="panel panel-default">
                    <table class="table">
                        <col width="60%">
                        <col width="40%">
                        {{#each threads}}
                        <tr>
                            <div class="row">
                                <td>
                                    {{#if this.pinned}}
                                        <span style="font-size: 20px">Pinned: </span>
                                    {{/if}}
                                    <a href='/thread?_id={{this._id}}' style="font-size: 23px">
                                        {{this.subject}}
                                    </a>
                                    <br>
                                    <strong>Thread by:</strong> <a href="/profile?_id={{this.threadBy._id}}">{{this.threadBy.name}}</a>
                                </td>
                                <td><strong>Replies: </strong>{{this.count}}<br><strong>Last updated:</strong> {{#dateFormat this.latestPost.date}}{{/dateFormat}}<br><strong>By:</strong><a href="/profile?_id={{this.latestPost.postBy._id}}">{{this.latestPost.postBy.name}}</a></td>
                                {{#if ../admin}}
                                <td><a href="/pin_thread?_id={{this._id}}"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></a><br><a href="delete_thread?_id={{this._id}}"><span style="margin-top:30px" class="glyphicon glyphicon-trash" aria-hidden="true" style=""></span></a></td>
                                {{/if}}
                            </div>
                        </tr>
                        {{else}}
                        <tr>
                            <td class="text-center">Sorry but there are no threads in this category. Be the first one to add new</td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>