<html>
    {{>header}}
    <script>
        function openModal(_id){
            $("#changePasswordId").attr("value",_id);
            $("#myModal").modal("show");
        }
    </script>
    <body>
        {{>nav}}
        <div class="container">
            <h1 class="text-center">Manager Users</h1>
            <table class="table">
                <tr>
                    <th>Name</th><th>Email</th><th>Level</th><th>Reset Password</th><th>Ban User</th>
                </tr>
                {{#each users}}
                <tr>
                    <td><a href="/profile?_id={{this._id}}">{{this.name}}</a></td>
                    <td>{{this.email}}</td>
                    <td>
                        {{#if this.level}}
                            Admin
                        {{else}}
                            Normal User
                        {{/if}}
                    </td>
                    <td><a class="btn btn-info" href="#" onclick="openModal('{{this._id}}');">Change Password</a></td>
                    <td>
                        <a class="btn btn-info btn-block" href="/ban_user?_id={{this._id}}"{{#if this.currentUser}}disabled{{/if}}>
                            {{#if this.banned}}
                                Unban User
                            {{else}}
                                Ban User
                            {{/if}}
                        </a>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
        <!--Modal Is-->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <form method="POST" action="/change_password">
                <input id="changePasswordId" type="hidden" name="_id" value="">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change Password</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="password">Enter new password &nbsp;<span style="font-size: 12px;color:darkslategray">(Minimum length 8 characters)</span></label>
                        <input pattern=".{8,}"type="password" class="form-control" id="password" placeholder="Enter a password" name="password" required>
                    </div>
                </div>
                <div class="modal-footer">
                <button class="btn btn-info">Change Password</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
                </form>
            </div>
            
            </div>
        </div>
    </body>
</html>