<html>
    {{>header}}
    <link rel="stylesheet" href="/css/thread.css">
    <body>
        {{>nav}}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8" style="margin-bottom: 30px">
                    <h2><strong>{{threadName}}</strong><h2>
                </div>
                {{#if name}}
                    {{#ifCond threadAdmin '==' userId}}
                    <div class="col-lg-2 col-md-2">
                        <a style="margin-top:15px" class="btn btn-info btn-block" href="/manage_subscriptions?_id={{_id}}">Manage Subscriptions</a>
                    </div>                
                    {{else}}
                        {{#if requestSubs}}
                        <div class="col-lg-2 col-md-2">
                            <a style="margin-top:15px" class="subs-button btn btn-info btn-block" href="/subscribe?_id={{_id}}">Subscribe</a>
                        </div>
                        {{/if}}
                        {{#if removeSubs}}
                        <div class="col-lg-2 col-md-2">
                            <a style="margin-top:15px" class="subs-button btn btn-danger btn-block" href="/remove_subscription?threadId={{_id}}">Unsubscribe</a>
                        </div>   
                        {{/if}}
                        {{#if waitSubs}}
                        <div class="col-lg-2 col-md-2">
                            <a style="margin-top:15px" class="subs-button btn btn-danger btn-block" href="/remove_subscription?threadId={{_id}}">Remove request</a>
                        </div> 
                        {{/if}}
                    {{/ifCond}}
                    {{#if allowPost}}
                    <div class="col-lg-2 col-md-2">
                        <a style="margin-top:15px" class="btn btn-info btn-block" href="#" data-toggle="modal" data-target="#myModal">Post Reply</a>
                    </div>
                    {{/if}}
                {{/if}}
            </div>
            {{{paginate}}}
            <table style="width:100%">
            {{#each posts}}
                <tr class="post" style="border-bottom: 1px solid black;background-color: #2c3e50;color: white;">
                    <td class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <h4><strong>
                                <a href="/profile?_id={{this.postBy._id}}">{{this.postBy.name}}{{#ifCond ../threadAdmin '==' this.postBy._id}}&nbsp;[OP]{{/ifCond}}
                            </strong></h4>
                        </div>
                        <div  class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="  line-height: 40px;vertical-align: middle;">{{#dateFormat this.date}}{{/dateFormat}}</div>
                        <div  class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="  line-height: 40px;vertical-align: middle;">
                            <a href="/post?_id={{this._id}}" >#{{this.indexNo}}</a>
                        </div>
                    </div>
                    </td>
                </tr>
                <tr style="background: #ECECEC;border-bottom: 10px solid white">
                    <td>
                        <div class="gravatar text-center col-lg-2 col-md-2 col-sm-2 col-xs-2"><img class="img-thumbnail" src="https://www.gravatar.com/avatar/{{this.gravatar}}"/>
                            {{#if this.postBy.level}}
                                Admin
                            {{/if}}
                        </div>
                        <div class="content col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding:10px" colspan="3"><h4>{{this.content}}</h4></div>
                    </td>
                </tr>
            {{else}}
                <tr>
                    <h3 class="text-center">
                        Sorry but the privacy setting of this thread does not allow unsubscribed user to view it.<br> <br> Try requesting for subscription.
                    </h3>
                </tr>
            {{/each}}
            </table>

        <!--Modal Is-->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
            
            <!-- Modal content-->
            <div class="modal-content">
                <form method="POST" action="/post_reply">
                <input type="hidden" name="_id" value="{{_id}}">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Post reply</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="content">Enter the stuff you want to say: </label>
                        <textarea class="form-control" rows="10" id="content" placeholder="Enter the content" name="content" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                <button class="btn btn-info">Post reply</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
                </form>
            </div>
            
            </div>
        </div> 
    </body>
    <script>
        $(".subs-button").attr("href",$(".btn").attr("href")+"&redirect="+(location.pathname+location.search).substr(1));
    </script>
</html>
